---
title: Work History 
description: An overview of Frank M. Taylor's work history for the last 12 years
subnavigation: work
---
	<section class="section section--workHistory">
		<h1>Work History</h1>
		<table class="table table--history">
			<caption class="table__caption">Summary of work history</caption>
			<thead class="table__head">
			<tr class="table__row">
			  <th id="company" class="table__cell table__cell--heading">Company</th>
			  <th id="timeRange" class="table__cell table__cell--heading">Time Range</th>
			</tr>
			</thead>
			<tbody class="table__body">
				<tr class="table__row">
					<th headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.RedHat}}" >Red Hat</a>
					</th>
					<td class="table__cell">January 2022&ndash;Present</td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Exlrt}}" >EXLRT</a>
					</th>
					<td class="table__cell">February 2019&ndash;January 2022 </td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Tahzoo}}" >Tahzoo</a>
					</th>
					<td class="table__cell">August 2011&mdash;February 2019 </td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Childrens}}" >Children's Medical Center</a>
					</th>
					<td headers="timeRange" class="table__cell">July 2010&ndash;August 2011</td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="table__cell">
						<a href="{{content.navigations.work.Mannatech}}" >Mannatech</a>
					</th>
					<td headers="timeRange" class="table__cell"> April 2005&ndash;July 2010 </td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="table__cell">
						Water's Edge Pool and Porter
					</th>
					<td headers="timeRange" class="table__cell"> August 2004&ndash;April 2005 </td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="table__cell">
						PHL, International
					</th>
					<td headers="timeRange" class="table__cell"> June 2004&ndash;August 2004</td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="table__cell">
						<a href="http://siuc.edu/" target="_blank">Southern Illinois University</a> Family Housing
					</th>
					<td headers="timeRange" class="table__cell"> June 2002&ndash;June 2004 </td>
				</tr>
				<tr class="table__row">
					<th headers="company" class="table__cell">
						<a href="http://siuc.edu/" target="_blank">Southern Illinois University</a> Student Housing
					</th>
					<td headers="timeRange" class="table__cell"> August 2000&ndash;June 2002 </td>
				</tr>
			</tbody>
		</table>
</section>
